.post-container{
  height: 170px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-wrap: wrap;
  gap: 10px;
   
}

.pagination{
  display: flex;
  gap:10px;
}

img{
  width:80px;
  height: 150px;
  border-radius: 10px;
}
.btn{
  width:20px;
  height: 20px;
  border-radius: 3px;
  background-color: black;
  color: aqua;
}

.active{
  background-color: yellow;
    width:20px;
  height: 20px;
  border-radius: 3px;
  color: aqua;
}