.container{
  display: flex;
  flex-direction: column;
}
.subcontainer{

  display: flex;
  gap: 10px;

}
.clockcontainer{
  height: 40px;
  width: 40px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}